doctype html
html
	head
		title QooleJS Alpha
		//-link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		//-link(rel="stylesheet",href="lib/perfect-scrollbar/css/perfect-scrollbar.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
		//-
			.toolbar
				.logo QooleJS
				a.panel-toggle.fa.fa-bars.toggled(
					data-toggle-ref=".panel.left",
					data-toggle-class="opened"
				)
				.left-bar
					a.obj-mode-option.selected(
						data-option-param="obj-mode",
						data-option-value="move",
						title="Move Mode [M]"
					): img(src="img/icons/move.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="rotate",
						title="Rotate Mode [R]"
					): img(src="img/icons/rotate.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="scale",
						title="Scale Mode [S]"
					): img(src="img/icons/scale.png")
					.splitter
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="vertex",
						title="Vertex Edit Mode"
					): img(src="img/icons/vertex.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="edge",
						title="Edge Edit Mode"
					): img(src="img/icons/edge.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="face",
						title="Face Edit Mode"
					): img(src="img/icons/face.png")
					.splitter
					a.new-mesh-trigger(
						data-trigger-method="newMesh",
						title="New Mesh [N]"
					): i.fa.fa-plus
					a.clone-object-trigger(
						data-trigger-method="cloneObject",
						title="Clone Object [C]"
					): i.fa.fa-clone
					a.clear-scene-trigger(
						data-trigger-method="clearScene",
						title="Clear Scene [L]"
					): i.fa.fa-trash
				.right-bar
					a.undo-trigger(
						data-trigger-method="undo",
						title="Undo [Ctrl+Z]"
					): i.fa.fa-undo
					a.redo-trigger(
						data-trigger-method="redo",
						title="Redo [Ctrl+Y]"
					): i.fa.fa-repeat
					.splitter
					a.debug-toggle(
						data-toggle-ref=".debug-info",
						data-toggle-class="visible",
						data-toggle-param="debug",
						title="Debug [D]"
					): i.fa.fa-bug
					span.debug-info
						input.indexes(type="number",placeholder="Indexes",value="-1")
					//- a.fullscreen-toggle(
					//- 	data-toggle-ref=".views",
					//- 	data-toggle-class="fullscreen"
					//- ) [F]ull Screen
					.debug-keys.fa.fa-keyboard-o
			.panel.left.opened
				.pane#object-pane
					.pane-title
						span Object [E]dit
					.pane-body
						.section
							ul
								li
									label Name
									input#object-pane-name(type="text")
								li
									label Position
									input.p30#object-pane-pos-x(type="number")
									input.p30#object-pane-pos-y(type="number")
									input.p30#object-pane-pos-z(type="number")
								li
									label Scale
									input.p30#object-pane-scale-x(type="number",step="0.125")
									input.p30#object-pane-scale-y(type="number",step="0.125")
									input.p30#object-pane-scale-z(type="number",step="0.125")
								li
									label Rotation
									input.p30#object-pane-rotation-x(type="number",step="1")
									input.p30#object-pane-rotation-y(type="number",step="1")
									input.p30#object-pane-rotation-z(type="number",step="1")
								li
									label Color
									input#object-pane-color(type="color")
							button.btn.update-object-trigger(
								data-trigger-method="updateObject",
								data-trigger-id=false
							) Update
				.pane.active#scene-pane
					.pane-title
						span#scene-title Untitled
						a.load-scene-trigger(
							data-trigger-method="loadScene",
							title="Load Scene"
						): i.fa.fa-folder-open-o
						a.save-scene-trigger(
							data-trigger-method="saveScene",
							title="Save Scene"
						): i.fa.fa-save
						a.new-scene-trigger(
							data-trigger-method="newScene",
							title="New Scene"
						): i.fa.fa-file-o
					.pane-body
						.section
							.section-title Lights
						.section
							.section-title Cameras
						.section
							.section-title Meshes
							ul.entities#mesh-entities
								li: span
									| Block 1
									a.entity-edit-trigger(
										data-trigger-method="edit",
										data-trigger-id="1"
								)

			.views
				.view#view-tl
					a.fullscreen-toggle.fa.fa-expand(
						data-toggle-ref="#view-tl",
						data-toggle-class="fullscreen",
						data-toggle-self="fa-compress fa-expand",
						title="Fullscreen [F]"
					)
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
				.view#view-tr
					a.fullscreen-toggle.fa.fa-expand(
						data-toggle-ref="#view-tr",
						data-toggle-class="fullscreen",
						data-toggle-self="fa-compress fa-expand",
						title="Fullscreen [F]"
					)
					canvas.layer-3d
				.view#view-bl
					a.fullscreen-toggle.fa.fa-expand(
						data-toggle-ref="#view-bl",
						data-toggle-class="fullscreen",
						data-toggle-self="fa-compress fa-expand",
						title="Fullscreen [F]"
					)
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
				.view#view-br
					a.fullscreen-toggle.fa.fa-expand(
						data-toggle-ref="#view-br",
						data-toggle-class="fullscreen",
						data-toggle-self="fa-compress fa-expand",
						title="Fullscreen [F]"
					)
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
		//- lib
		script(src="lib/three.min.js")
		//- script(src="lib/jquery/dist/jquery.js")
		//- script(src="lib/jquery-mousewheel/jquery.mousewheel.js")
		//- script(src="lib/lodash/lodash.js")
		//- script(src="lib/threex.keyboardstate/threex.keyboardstate.js")
		//- script(src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js")
		//- script(src="lib/file-saver.js/FileSaver.js")
		//- iblokz
		//- iblokz.gfx
		//- script(src="js/iblokz/gfx/rect.js")
		//- script(src="js/iblokz/gfx/vector2.js")
		//- iblokz.gui
		//- script(src="js/iblokz/gui/element.js")
		//- script(src="js/iblokz/gui/canvas.js")
		//- script(src="js/iblokz/gui/grid.js")
		//- ql
		//- script(src="js/ql/ql.js")
		//- script(src="js/ql/etc/math.js")
		//- script(src="js/ql/etc/history.js")
		//- script(src="js/ql/ext/vector2.js")
		//- script(src="js/ql/ext/vector3.js")
		//- script(src="js/ql/ext/quad.js")
		//- script(src="js/ql/ext/boxGeometry.js")
		//- script(src="js/ql/ext/mesh.js")
		//- script(src="js/ql/ext/scene.js")
		//- script(src="js/ql/ext/interactor.js")
		//- script(src="js/ql/gui/element.js")
		//- script(src="js/ql/gui/panel.js")
		//- script(src="js/ql/gui/toolbar.js")
		//- script(src="js/ql/gui/view2d.js")
		//- script(src="js/ql/gui/view3d.js")
		//- script(src="js/ql/gui/editor.js")
		//- app
		script(src="js/app.js")
