doctype html
html
	head
		title QooleJS Alpha
		link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="lib/perfect-scrollbar/css/perfect-scrollbar.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
			.toolbar
				.logo QooleJS
				a.panel-toggle.fa.fa-bars.toggled(
					data-toggle-ref=".panel.left",
					data-toggle-class="opened"
				)
				.left-bar
					a.obj-mode-option.selected(
						data-option-param="obj-mode",
						data-option-value="move",
						title="Move Mode"
					): img(src="/assets/icons/move.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="rotate",
						title="Rotate Mode"
					): img(src="/assets/icons/rotate.png")
					a.obj-mode-option(
						data-option-param="obj-mode",
						data-option-value="scale",
						title="Scale Mode"
					): img(src="/assets/icons/scale.png")
				.right-bar
					.debug-keys.fa.fa-keyboard-o
					a.debug-toggle(
						data-toggle-ref=".debug-info",
						data-toggle-class="visible",
						data-toggle-param="debug"
					) Debug
					span.debug-info
						input.indexes(type="number",placeholder="Indexes",value="-1")
					a.fullscreen-toggle(
						data-toggle-ref=".views",
						data-toggle-class="fullscreen"
					) [F]ull Screen
			.panel.left.opened
				.pane#object-pane
					.pane-title
						span Object [E]dit
						a.btn-tool.clone-object-trigger(
							data-trigger-method="cloneObject",
							title="[C]lone Object"
						): i.fa.fa-clone
					.pane-body
						.section
							ul
								li
									label Name 
									input#object-pane-name(type="text")
								li
									label Position 
									input.p30#object-pane-pos-x(type="number")
									input.p30#object-pane-pos-y(type="number")
									input.p30#object-pane-pos-z(type="number")
								li
									label Scale 
									input.p30#object-pane-scale-x(type="number",step="0.125")
									input.p30#object-pane-scale-y(type="number",step="0.125")
									input.p30#object-pane-scale-z(type="number",step="0.125")
								li
									label Rotation 
									input.p30#object-pane-rotation-x(type="number",step="1")
									input.p30#object-pane-rotation-y(type="number",step="1")
									input.p30#object-pane-rotation-z(type="number",step="1")
								li
									label Color 
									input#object-pane-color(type="color")
							button.btn.update-object-trigger(
								data-trigger-method="updateObject",
								data-trigger-id=false
							) Update
				.pane.active#scene-pane
					.pane-title
						span#scene-title Untitled
						a.btn-tool.save-scene-trigger(
							data-trigger-method="saveScene",
							title="Save Scene"
						): i.fa.fa-save
						a.btn-tool.load-scene-trigger(
							data-trigger-method="loadScene",
							title="Load Scene"
						): i.fa.fa-folder-open-o
						a.btn-tool.new-scene-trigger(
							data-trigger-method="newScene",
							title="New Scene"
						): i.fa.fa-file-o
					.pane-body
						.section
							.section-title Lights
						.section
							.section-title Cameras
						.section
							.section-title Meshes
							a.btn.new-mesh-trigger(
								data-trigger-method="newMesh"
							) [N]ew Mesh
							a.btn.clear-scene-trigger(
								data-trigger-method="clearScene"
							) C[L]ear Scene
							ul.entities#mesh-entities
								li: span
									| Block 1
									a.entity-edit-trigger(
										data-trigger-method="edit",
										data-trigger-id="1"
								)

			.views
				.view#view-tl
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
				.view#view-tr
					canvas.layer-3d
				.view#view-bl
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
				.view#view-br
					canvas.grid-layer
					canvas.scene-layer
					canvas.selection-layer
					canvas.indicators-layer
		//- lib
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/jquery-mousewheel/jquery.mousewheel.js")
		script(src="lib/lodash/lodash.js")
		script(src="lib/three.js/three.js")
		script(src="lib/threex.keyboardstate/threex.keyboardstate.js")
		script(src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js")
		script(src="lib/file-saver.js/FileSaver.js")
		//- iblokz
		//- iblokz.gfx
		script(src="js/iblokz/gfx/rect.js")
		script(src="js/iblokz/gfx/vector2.js")
		//- iblokz.gui
		script(src="js/iblokz/gui/element.js")
		script(src="js/iblokz/gui/canvas.js")
		script(src="js/iblokz/gui/grid.js")
		//- ql
		script(src="js/ql/ql.js")
		script(src="js/ql/etc/math.js")
		script(src="js/ql/etc/history.js")
		script(src="js/ql/ext/vector2.js")
		script(src="js/ql/ext/vector3.js")
		script(src="js/ql/ext/quad.js")
		script(src="js/ql/ext/boxGeometry.js")
		script(src="js/ql/ext/mesh.js")
		script(src="js/ql/ext/scene.js")
		script(src="js/ql/ext/interactor.js")
		script(src="js/ql/gui/element.js")
		script(src="js/ql/gui/panel.js")
		script(src="js/ql/gui/toolbar.js")
		script(src="js/ql/gui/view2d.js")
		script(src="js/ql/gui/view3d.js")
		script(src="js/ql/gui/editor.js")
		//- app
		script(src="js/main.js")
